<a href="https://colab.research.google.com/github/jaimeisaac2020/Python-analsisis-basicos/blob/mi-github/2_Concatenando_dos_bases_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Importando librerias relevantes

In [ ]:
import numpy as np
import pandas as pd

#### cargando datasets

In [ ]:
marketing_sample1 = pd.read_csv("marketing_campaign_append1.csv")
marketing_sample2 = pd.read_csv("marketing_campaign_append2.csv")

In [ ]:
marketing_sample1.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,NumStorePurchases,NumWebVisitsMonth
0,5524,1957,Graduation,Single,58138.0,0,0,04/09/2012,58,4,7
1,2174,1954,Graduation,Single,46344.0,1,1,08/03/2014,38,2,5
2,4141,1965,Graduation,Together,71613.0,0,0,21/08/2013,26,10,4
3,6182,1984,Graduation,Together,26646.0,1,0,10/02/2014,26,4,6
4,5324,1981,PhD,Married,58293.0,1,0,19/01/2014,94,6,5

#### Subconjunto de variables relevantes

In [ ]:
marketing_sample1 = marketing_sample1[['ID', 'Year_Birth', 'Education', 'Marital_Status',
                'Income', 'Kidhome', 'Teenhome', 'Dt_Customer',
                'Recency','NumStorePurchases', 'NumWebVisitsMonth']]

In [ ]:
marketing_sample1.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,NumStorePurchases,NumWebVisitsMonth
0,5524,1957,Graduation,Single,58138.0,0,0,04/09/2012,58,4,7
1,2174,1954,Graduation,Single,46344.0,1,1,08/03/2014,38,2,5
2,4141,1965,Graduation,Together,71613.0,0,0,21/08/2013,26,10,4
3,6182,1984,Graduation,Together,26646.0,1,0,10/02/2014,26,4,6
4,5324,1981,PhD,Married,58293.0,1,0,19/01/2014,94,6,5

In [ ]:
marketing_sample2 = marketing_sample2[['ID', 'Year_Birth', 'Education', 'Marital_Status',
                'Income', 'Kidhome', 'Teenhome', 'Dt_Customer',
                'Recency','NumStorePurchases', 'NumWebVisitsMonth']]

In [ ]:
marketing_sample2.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,NumStorePurchases,NumWebVisitsMonth
0,9135,1950,Graduation,Together,27203,1,1,06/08/2012,92,2,8
1,466,1944,Graduation,Married,65275,0,0,03/04/2013,9,13,2
2,9135,1950,Graduation,Together,27203,1,1,06/08/2012,92,2,8
3,10623,1961,Master,Together,48330,0,1,15/11/2013,2,3,5
4,8151,1990,Basic,Married,24279,0,0,29/12/2012,6,3,8

#### Inspeccionando la forma de los datasets

In [ ]:
marketing_sample1.shape

(500, 11)

In [ ]:
marketing_sample2.shape

(500, 11)

In [ ]:
marketing_sample1.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,NumStorePurchases,NumWebVisitsMonth
0,5524,1957,Graduation,Single,58138.0,0,0,04/09/2012,58,4,7
1,2174,1954,Graduation,Single,46344.0,1,1,08/03/2014,38,2,5
2,4141,1965,Graduation,Together,71613.0,0,0,21/08/2013,26,10,4
3,6182,1984,Graduation,Together,26646.0,1,0,10/02/2014,26,4,6
4,5324,1981,PhD,Married,58293.0,1,0,19/01/2014,94,6,5

In [ ]:
marketing_sample2.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,NumStorePurchases,NumWebVisitsMonth
0,9135,1950,Graduation,Together,27203,1,1,06/08/2012,92,2,8
1,466,1944,Graduation,Married,65275,0,0,03/04/2013,9,13,2
2,9135,1950,Graduation,Together,27203,1,1,06/08/2012,92,2,8
3,10623,1961,Master,Together,48330,0,1,15/11/2013,2,3,5
4,8151,1990,Basic,Married,24279,0,0,29/12/2012,6,3,8

#### Append the two datasets into one new dataset

In [ ]:
appended_data = pd.concat([marketing_sample1, marketing_sample2])

In [ ]:
appended_data.shape

(1000, 11)

In [ ]:
appended_data.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,NumStorePurchases,NumWebVisitsMonth
0,5524,1957,Graduation,Single,58138.0,0,0,04/09/2012,58,4,7
1,2174,1954,Graduation,Single,46344.0,1,1,08/03/2014,38,2,5
2,4141,1965,Graduation,Together,71613.0,0,0,21/08/2013,26,10,4
3,6182,1984,Graduation,Together,26646.0,1,0,10/02/2014,26,4,6
4,5324,1981,PhD,Married,58293.0,1,0,19/01/2014,94,6,5